<template>
    <require from="./dateFormatValueConverter"></require>
    <require from="./messageValueConverter"></require>

    <div class="topRow">
        <h1 class="title">ChatApp</h1>
            <button class="logoutButton" click.delegate='logout()'>Log out: ${username}</button>
        </div>
        <div class="chatPanel">
            <div class="outerRoomPanel">
                <h2 if.bind="activeRoomIndex === undefined"> Select room</h2>
                <div class="roomPanel">
                    <div class="" repeat.for="room of rooms">
                        <button class="roomButtonActive" if.bind="$index === activeRoomIndex">${room.name} ${room.numberOfUnreadMessages | message}</button>
                        <button class="roomButton" if.bind="$index !== activeRoomIndex" click.delegate='selectRoom($index)'>${room.name} ${room.numberOfUnreadMessages | message}</button>
                    </div>
                </div>
            </div>
            <div if.bind="activeRoomSelected" class="messagePanel" scroll.trigger="handleScrollEvent($event)">
                <div repeat.for="chunk of messChunks">
                    <div class="right" if.bind="chunk[0].username === username">
                        <div>
                            <div class="time">
                                ${chunk[0].createdOn | dateFormat}
                            </div>
                            <div class="myMessageRow">
                                <div repeat.for="message of chunk">
                                    ${message.message}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="left" if.bind="chunk[0].username !== username">
                        <div>
                        <div class="time">
                            ${chunk[0].createdOn | dateFormat}
                        </div>
                        <div class="messageRow">
                             ${chunk[0].username}
                            <div repeat.for="message of chunk">
                                ${message.message}
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>

                <div validation-errors.bind="messageErrors">
                    <div id="input">
                        <div class="inputRow">
                            <form>
                                <input id="messageInput" focus="true" focus.trigger="initPicker()" keypress.delegate="keypress($event)" class="messageInput" class.bind="messageErrors.length ? 'has-error' : ''" type="text" value.bind="message & validate" placeholder="Message">
                                <button id="emojiButton">:D</button>
                            </form>
                            <button class="messageButton" click.delegate='sendMessage()'>Send</button>
                            <span class="help-block"repeat.for="errorInfo of messageErrors">
                            <span class="errInfo">
                                ${errorInfo.error.message}
                            </span>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>