<template>
    <div>
    <div class="loginPanel">
        <h2>Login</h2>
        <div validation-errors.bind="usernameErrors" >
            <input focus="true" keypress.delegate="keypress($event)" class="loginInput" class.bind="usernameErrors.length ? 'has-error' : ''" type="text" value.bind="username & validate" placeholder="Username"/>
            <span class="help-block" repeat.for="errorInfo of usernameErrors">
                <span class="errInfo">
                    ${errorInfo.error.message}
                </span>
            </span>
        </div>
        <button class="loginButton" click.delegate='submit()'>Login</button>
    </div>
    </div>
</template>