/*
Login
 */
*{
    font-family: Helvetica;
    font-size: 16px;
}
.title{
    color: #7ec84a;
}

.loginPanel {
    border: 1px #bdbdbd solid;
    border-radius: 5px;
    margin: auto;
    margin-top: 10vh;
    width: 30vw;
    min-width: 300px;
    padding: 10px;
    text-align: center;

}

.loginInput {
    border: 1px #bdbdbd solid;
    font-size: 16px;
    border-radius: 5px;
    min-width: 200px;
    min-height: 20px;
    width: 15vw;
    height: 8vh;
    min-height: 30px;
    text-align: center;
    margin-top: 5vh;
}

hr {
    width: 100%;
    border-bottom: none;
    border-color: #bdbdbd;
}

h1 {
    font-size: 24px;
    //text-align: center;
}

h2 {
    text-align: center;
    margin: 0px;
    color: black;
}

.loginButton {
    color: white;
    background-color: #7ec84a;
    border: none;
    border-radius: 5px;
    min-width: 200px;
    min-height: 30px;
    width: 10vw;
    height: 8vh;
    min-height: 30px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

::placeholder {
    font-size: 12px;
    opacity: 1;
    font-family: Helvetica;
    font-size: 16px;
}

.has-error {
    border-color: #ff9495;
}

.help-block {
    display: flex;
    min-width: 200px;
    min-height: 20px;
    width: 15vw;
    height: 8vh;
    text-align: center;
    border: 1px #ff9495 solid;
    border-radius: 5px;
    color: black;
    background-color: #ffdae4;
    margin: auto;
    margin-top: 3vh;
    padding: 10px;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin-left: -100px;
}

.errInfo {
    margin: auto;
    text-align: center;
    display: table-column;
}
.topRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1%;
}
.logoutButton{
    color: white;
    background-color: #7ec84a;
    border: none;
    border-radius: 5px;
    min-width: 15%;
    height: 5vh;
    min-height: 30px;
    font-size: 20px;
}


.right {
    display: flex;
    flex-direction: row-reverse;
}
.left {
    display: flex;
}

.myMessageRow {
    //border: 1px #7ec84a solid;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: #7ec84a;
}
.time {
    color: darkgrey;
    text-align: center;
    font-size: 12px;
}
.messageRow {
    border-radius: 20px;
    display: inline-block;
    background-color: #e4e4e4;
    color: black;
    padding: 10px;
}
.messageInput {
    width: 80%;
    min-width: 50px;
    height: 5vh;
    min-height: 30px;
    text-align: center;
    flex-grow:2;
    border:none;
}
form {
    display:flex;
    flex-direction:row;
    width: 80%;
    min-width: 50px;
    border: 1px #bdbdbd solid;
    border-radius: 5px;
    padding:2px;
}

#emojiButton {
    border: none;
    background-color: white;
    color:#7ec84a;
}

#input {
    display: flex;
    flex-direction: column;
}
.inputRow {
    display: flex;
    flex-direction: row;
    position: static;
    bottom: 0;
    margin-bottom: 5px;
}

.space {
    background-color: white;
    border: none;
    width: 100%;
    height: 10px;
}

@media screen and (min-width: 700px) {

    .chatPanel {
        flex-direction: row;
        display: flex;
        margin: auto;
        height: 100%;
    }
    /*
    Room
     */
    .outerRoomPanel {
        border: 1px #bdbdbd solid;
        border-radius: 5px;
        margin: auto;
        width: 20%;
        height: 90vh;
        resize: none;
        overflow-y: scroll;
        padding: 10px;
        text-align: center;
    }
    .roomPanel {
        height: 90vh;
        resize: none;
        overflow-y: scroll;
        padding: 10px;
        text-align: center;
    }

    .roomButton {
        color: white;
        background-color: #bdbdbd;
        border: none;
        border-radius: 5px;
        min-width: 80px;
        width: 100%;
        height: 5vh;
        min-height: 30px;
        font-size: 20px;
        margin-bottom: 5px;
        opacity: 0.4;
    }

    .roomButtonActive {
        color: white;
        background-color: #7ec84a;
        border: none;
        border-radius: 5px;
        min-width: 80px;
        width: 100%;
        height: 5vh;
        min-height: 30px;
        font-size: 20px;
        margin-bottom: 5px;
    }

    /*
    Mesages
     */
    .messagePanel {
        border: 1px #bdbdbd solid;
        border-radius: 5px;
        margin-left: 1%;
        width: 80%;
        height: 90vh;
        resize: none;
        overflow-y: scroll;
        padding: 10px;
        color: white;
    }

    .messageButton {
        color: white;
        background-color: #7ec84a;
        border: none;
        border-radius: 5px;
        min-width: 15%;
        float: right;
        height: 5vh;
        min-height: 30px;
        font-size: 20px;
        margin: auto;
    }


}
@media screen and (max-width: 700px) {
    .chatPanel{
        flex-direction: column;
        text-align: center;
        display: flex;
        margin: auto;
        width: 100%;
        height: 100%;
    }
    /*
    Room
     */
    .outerRoomPanel {
        border: 1px #bdbdbd solid;
        border-radius: 5px;
        margin: auto;
        margin-bottom: 1%;
        width: 90%;
        resize: none;
        overflow-y: scroll;
        padding: 10px;
        text-align: center;
    }
    .roomPanel{
        margin: auto;
        width: 100%;
        resize: none;
        overflow-x: scroll;
        text-align: center;
        display: flex;
        flex-direction: row;
    }
    .roomButton{
        color: white;
        background-color: #bdbdbd;
        border: none;
        border-radius: 5px;
        min-width: 80px;
        width: 50vh;
        height: 5vh;
        min-height: 30px;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 10px;
        margin-left: 10px;
        opacity: 0.4;
    }
    .roomButtonActive{
        color: white;
        background-color: #7ec84a;
        border: none;
        border-radius: 5px;
        min-width: 80px;
        width: 50vh;
        height: 5vh;
        min-height: 30px;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 10px;
        margin-left: 10px;
    }
    /*
    Mesages
     */
    .messagePanel {
        border: 1px #bdbdbd solid;
        border-radius: 5px;
        margin: auto;
        width: 90%;
        height: 90vh;
        resize: none;
        overflow-y: scroll;
        padding: 10px;
        color: white;
    }

    .messageButton {
        color: white;
        background-color: #7ec84a;
        border: none;
        border-radius: 5px;
        min-width: 15%;
        float: right;
        height: 5vh;
        min-height: 30px;
        font-size: 20px;
        margin: auto;
    }

    .inputRow {
        flex-direction: row;
        position: static;
        bottom: 0
    }

}

/*
EMOJI
 */
#emoji-picker {
    border: 1px #bdbdbd solid;
    border-radius: 5px;
    //margin-top: 5px;
    margin: auto;
    width: 80%;
    max-width: 80vw;
    height: 20vh;
    resize: none;
    text-wrap: normal;
    overflow-y: scroll;
    //overflow-x: revert;
    padding: 10px;
    color: white;
}
.emoji-title-overlay {
    display: none;
}
.emoji-search {
    display: none;
}
.category-title {
    display: none;
}


